@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-thumb {
  background-color: #1ebdf1;
  border-radius: 5px; }

html {
  font-size: 10px; }
  html body {
    font-size: 16px;
    /* Заголовок */
    /* Ячейка дня */
    /* Затемненный день */
    /* .calendar td.grayed {
        background: #F0F0F0;
        cursor: auto !important;
    } */
    /* Выбранный день */
    /* Кнопки навигации */ }
    html body .hite-site-mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 10px 0;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      html body .hite-site-mobile .logo-mobile img {
        max-width: 100px;
        margin: 0 10px; }
      html body .hite-site-mobile .menu-burger {
        cursor: pointer; }
        html body .hite-site-mobile .menu-burger .menu-list {
          display: block;
          width: 20px;
          height: 2px;
          background-color: #000;
          margin-bottom: 3px; }
      html body .hite-site-mobile .search-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 120px;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        html body .hite-site-mobile .search-mobile .search-mobile-input {
          margin-right: 5px;
          width: 100px;
          height: 20px;
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
          border: 1px solid #1ebdf1;
          padding-left: 5px; }
    html body .hidden {
      display: none; }
    html body .menu {
      background-color: #1ebdf1;
      padding: 10px 0; }
      html body .menu .menu-item {
        text-align: center; }
        html body .menu .menu-item a {
          color: #fff;
          text-transform: uppercase; }
      html body .menu hr {
        background-color: #FFFFFF;
        border: 0 solid #fff;
        height: 1px; }
    html body .button-up {
      position: fixed;
      margin-left: 1070px;
      margin-top: 60px;
      z-index: 1; }
      html body .button-up .btnUp {
        width: 40px;
        height: 40px;
        background-color: #1ebdf1;
        background-image: url(../images/iconUp.png);
        background-repeat: no-repeat;
        background-position: center; }
    html body .hat-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    html body .hat-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 10px; }
      html body .hat-item li {
        display: block;
        margin-left: 15px; }
      html body .hat-item .item-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-item-align: center;
            align-self: center;
        text-decoration: none;
        color: #000; }
    html body .hat-weather {
      text-align: end; }
    html body .hat-date {
      margin-right: 15px;
      min-width: 135px; }
    html body .hat-weather {
      margin: 0 30px; }
    html body .weather {
      color: #000;
      font-size: 15px; }
    html body .date {
      font-size: 13px;
      color: #000; }
      html body .date span {
        font-size: 15px; }
    html body select {
      border-radius: 20px;
      border: 1px solid #1ebdf1;
      outline: none; }
      html body select option {
        font-size: 14px; }
    html body header {
      background-color: #1ebdf1;
      padding: 2rem 0; }
      html body header a {
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none; }
        html body header a:hover {
          color: #fff8;
          text-decoration: none; }
      html body header .nav-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        html body header .nav-item .nav-list {
          display: block; }
          html body header .nav-item .nav-list img {
            width: 20px;
            margin-left: 5px;
            cursor: pointer; }
      html body header .search-icon {
        text-align: end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        html body header .search-icon .search {
          cursor: pointer;
          width: 22px; }
        html body header .search-icon .search-input {
          outline: none;
          max-width: 135px;
          border-radius: 5px;
          border: none;
          padding-left: 5px; }
      html body header .hidden-search {
        display: none; }
      html body header .menu {
        position: absolute;
        top: 30px;
        width: 120px;
        height: 110px;
        background-color: #1ebdf1;
        opacity: 1;
        padding-left: 20px;
        padding-top: 25px;
        z-index: 1; }
        html body header .menu li {
          display: block; }
      html body header .hidden {
        display: none; }
      html body header .menu1 {
        left: 10%; }
      html body header .menu2 {
        left: 19%; }
      html body header .menu3 {
        left: 38%; }
      html body header .menu4 {
        left: 52%; }
      html body header .menu5 {
        left: 65%; }
      html body header .menu6 {
        left: 90%; }
    html body .news {
      margin: 2rem auto; }
      html body .news .box-icon {
        width: 5.5rem;
        height: 4.5rem;
        background-color: #1ebdf1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        html body .news .box-icon img {
          width: 3.5rem; }
      html body .news .box-news {
        display: block;
        position: relative;
        width: 100%;
        height: 4.5rem;
        border: 2px solid #e5e5e5;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 1rem;
        font-size: 19px;
        font-weight: 700; }
        html body .news .box-news .img {
          margin: 0; }
      html body .news .news-text {
        position: absolute;
        top: 7px;
        left: 10px; }
      html body .news a {
        color: #000; }
        html body .news a:hover {
          color: #1ebdf1; }
    html body .btn-text {
      position: absolute;
      cursor: pointer;
      right: 10px;
      top: 7px;
      width: 25px; }
    html body .last-news .text-head {
      padding-top: 4.5rem;
      padding-bottom: 3rem; }
      html body .last-news .text-head h1 {
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase; }
      html body .last-news .text-head hr {
        width: 50%;
        height: 1px;
        background-color: #1ebdf1;
        border: 0 solid #1ebdf1; }
    html body .last-news .text-info {
      margin-left: 25px;
      max-height: 320px; }
      html body .last-news .text-info h1 {
        font-size: 20px;
        font-weight: 700;
        color: #000; }
        html body .last-news .text-info h1 a {
          color: #000; }
      html body .last-news .text-info p {
        font-size: 15px;
        padding-top: 0.5%;
        color: #000; }
    html body .last-news .info-user {
      margin-top: 3%; }
    html body .last-news .photo-info {
      margin-bottom: 10px; }
    html body .last-news span {
      color: #000; }
    html body .last-news .user {
      margin: 0 30px; }
    html body .last-news .user3 {
      margin-top: 8%; }
    html body .mobile-last-news {
      margin-top: 30px; }
      html body .mobile-last-news .last-news-text-hat h1 {
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 15px; }
      html body .mobile-last-news .last-news-text-hat .line-hat {
        height: 1px;
        border: 0 solid #1ebdf1; }
      html body .mobile-last-news .news-text {
        font-size: 14px;
        font-weight: 400; }
      html body .mobile-last-news .mobile-news-text {
        line-height: 17px;
        margin-left: 10px; }
        html body .mobile-last-news .mobile-news-text .mobile-news-text-right {
          margin-top: -5px; }
          html body .mobile-last-news .mobile-news-text .mobile-news-text-right a {
            color: #000; }
      html body .mobile-last-news .line-news {
        background-color: #7a7979;
        height: 1px;
        border: 0 solid #7a7979; }
      html body .mobile-last-news .mobile-news-btn {
        margin-top: 10px;
        height: 50px;
        background-color: #1ebdf1;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase; }
    html body .line {
      text-align: end; }
    html body .top-right-news .my-addres h2 {
      font-size: 19px;
      font-weight: 600; }
    html body .top-right-news .my-addres hr {
      height: 1px;
      border: 0 solid #1ebdf1;
      background-color: #1ebdf1; }
    html body .top-right-news .my-addres .button-icons button {
      width: 100%;
      height: 5.5rem;
      font-size: 19px;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer; }
      html body .top-right-news .my-addres .button-icons button:active {
        -webkit-transform: scale(0.9);
                transform: scale(0.9); }
    html body .top-right-news .my-addres .button-icons .btn-telegram {
      background-color: #1ebdf1;
      background-image: url(../images/телеграмм.png);
      background-repeat: no-repeat;
      background-position: left 20px center; }
    html body .top-right-news .my-addres .button-icons .btn-instagram {
      background-color: #cc1e3b;
      background-image: url(../images/instagram.png);
      background-repeat: no-repeat;
      background-position: left 20px center;
      margin: 1rem 0; }
    html body .top-right-news .my-addres .button-icons .btn-facebook {
      background-color: #3b5998;
      background-image: url(../images/Facebook.png);
      background-repeat: no-repeat;
      background-position: left 20px center; }
    html body .top-right-news .hat-text {
      margin-top: 5rem;
      margin-bottom: 4rem; }
      html body .top-right-news .hat-text h2 {
        font-size: 23px;
        font-weight: 600;
        text-align: center; }
    html body .top-right-news .top-news {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      html body .top-right-news .top-news .top-news-info {
        margin-left: 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        html body .top-right-news .top-news .top-news-info h3 {
          font-size: 14px; }
          html body .top-right-news .top-news .top-news-info h3 a {
            color: #000; }
      html body .top-right-news .top-news .user-right span,
      html body .top-right-news .top-news .time span {
        font-size: 12px; }
      html body .top-right-news .top-news .info-user-right {
        margin-left: 15px; }
    html body .top-right-news .user-right {
      margin-left: -30px; }
    html body .vertical-line hr {
      height: 1px;
      background-color: grey;
      border: 0.5px solid grey;
      margin-bottom: 20px; }
    html body .calendar-box {
      margin-left: 10px;
      margin-top: 60px;
      -webkit-box-shadow: 0 0 2px solid grey;
              box-shadow: 0 0 2px solid grey;
      width: 310px;
      height: 275px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 6px 7px #e4e4e4;
      box-shadow: 0px 0px 6px 7px #e4e4e4; }
    html body .calendar {
      border-collapse: collapse;
      font-family: Arial;
      font-size: 15.36px;
      font-weight: 300; }
    html body .calendar th {
      text-align: center;
      width: 40px;
      height: 40px;
      background: #fff;
      color: #000000;
      border-bottom: 0.3px solid grey; }
    html body .calendar td {
      text-align: right;
      width: 20px;
      height: 25px;
      padding-right: 4px;
      text-align: center;
      cursor: pointer;
      font-size: 15.36px; }
    html body .calendar td.selected {
      border-radius: 5px;
      background: #3db0ee;
      color: #FFFFFF;
      -webkit-box-shadow: 1px 1px rgba(255, 255, 255, 0.5) inset;
              box-shadow: 1px 1px rgba(255, 255, 255, 0.5) inset; }
    html body .calendar td.navigation {
      text-align: center;
      border: 0px none !important;
      font-size: 17px;
      cursor: pointer;
      white-space: nowrap; }
    html body .next-news-button {
      margin-top: 30px; }
      html body .next-news-button .btn-next {
        width: 20rem;
        height: 5rem;
        background-color: #1ebdf1;
        color: #fff;
        font-size: 15px;
        border: none; }
        html body .next-news-button .btn-next:active {
          -webkit-transform: scale(0.9);
                  transform: scale(0.9); }
    html body .hat-slider {
      margin-top: 75px; }
      html body .hat-slider .hat-text-video {
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase; }
      html body .hat-slider hr {
        width: 100%;
        height: 1px;
        background-color: #1ebdf1;
        border: 0.5px solid #1ebdf1; }
    html body .slider {
      background-image: url(../images/slider-bgc.png);
      padding: 30px 0;
      margin-top: 2px; }
      html body .slider button {
        position: absolute;
        top: calc(100%/2.5);
        background-color: #1ebdf1;
        color: #fff;
        width: 35px;
        height: 38px;
        border: none;
        outline: none; }
        html body .slider button:active {
          -webkit-transform: scale(0.9);
                  transform: scale(0.9); }
      html body .slider .leftVideo {
        margin-left: 30px; }
      html body .slider .carousel-lists {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        html body .slider .carousel-lists:not(:last-child) {
          margin-left: 20px; }
      html body .slider .carousels {
        width: 920px;
        height: 300px;
        overflow: hidden; }
        html body .slider .carousels .carousel {
          width: 1565px;
          margin: 0;
          -webkit-transition: all ease 1s;
          transition: all ease 1s; }
          html body .slider .carousels .carousel::after {
            content: '';
            display: block;
            clear: both; }
        html body .slider .carousels .carousel-text {
          padding-left: 20px;
          color: #fff;
          font-size: 17px;
          font-weight: 500; }
        html body .slider .carousels .middle {
          margin-left: 23px; }
        html body .slider .carousels .lists {
          display: block;
          width: 290px;
          height: 300px;
          float: left; }
          html body .slider .carousels .lists a {
            color: #fff; }
    html body .slider-mobile-hat-text {
      padding-top: 40px;
      font-size: 17px;
      font-weight: 500;
      margin-left: 15px;
      text-transform: uppercase; }
    html body .line-slider-mobile {
      height: 1px;
      border: 0 solid #1ebdf1; }
    html body .slider-mobile {
      background-image: url(../images/slider-mobile-bgc.png); }
    html body .top-news-hat h2 {
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
      padding-left: 15px; }
    html body .top-news-hat hr {
      border: 0 solid #1ebdf1;
      height: 1px; }
    html body .top-news-img {
      background-image: url(../images/top-news-img1.png);
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff; }
      html body .top-news-img .top-news-img-text {
        max-width: 80%; }
        html body .top-news-img .top-news-img-text a {
          color: #fff; }
    html body .img_2 {
      background-image: url(../images/top-news-img2.png); }
    html body .img_3 {
      background-image: url(../images/top-news-img3.png); }
    html body .img_4 {
      background-image: url(../images/top-news-img4.png); }
    html body .img_5 {
      background-image: url(../images/top-news-img5.png); }
    html body .img_6 {
      background-image: url(../images/top-news-img6.png); }
    html body .img_7 {
      background-image: url(../images/top-news-img7.png); }
    html body .logo-footer {
      margin-top: 50px; }
    html body .line-footer {
      margin: 5rem 0; }
      html body .line-footer hr {
        height: 1px;
        background-color: #1ebdf1;
        border: 0.5px solid #1ebdf1; }
    html body .info {
      line-height: 18px; }
    html body .last-info {
      margin-top: 35px; }
    html body .category-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-line-pack: center;
          align-content: center;
      margin-left: 20px; }
      html body .category-info .logo-text a {
        font-size: 15px;
        color: #000; }
    html body .category,
    html body .site {
      line-height: 2px; }
      html body .category h2,
      html body .site h2 {
        padding-left: 20px;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 700; }
    html body hr {
      width: 90%;
      height: 1px;
      background-color: #1ebdf1;
      border: 0.5px solid #1ebdf1; }
    html body .logo-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 5px; }
      html body .logo-text .text {
        margin-left: 5px; }
    html body .site hr {
      width: 90%;
      height: 1px;
      border: 0.5px solid #7a7979; }
    html body .site-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 80%;
      margin-left: 20px; }
      html body .site-info .text {
        padding-bottom: 5px; }
        html body .site-info .text a {
          color: #000; }
    html body footer {
      background-color: #004d6d;
      color: #fff;
      padding: 15px 0;
      margin-top: 35px; }
    html body .icon-footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      html body .icon-footer i {
        color: #fff; }
        html body .icon-footer i:hover {
          color: #fff8; }
    html body .footer-mobile {
      margin-top: 30px; }
      html body .footer-mobile .category h3,
      html body .footer-mobile .sites h3 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600; }
      html body .footer-mobile .all-category {
        margin-top: 25px; }
      html body .footer-mobile .sites {
        margin-top: 35px; }
      html body .footer-mobile .all-site-btn {
        margin-top: 20px;
        margin-bottom: 30px; }
        html body .footer-mobile .all-site-btn button {
          border: 2px solid #1ebdf1;
          background-color: transparent;
          border-radius: 20px;
          color: #000;
          font-size: 15px; }
      html body .footer-mobile .sites-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        html body .footer-mobile .sites-item a {
          color: #000;
          font-size: 15px; }
        html body .footer-mobile .sites-item .text {
          margin-top: 16px; }
      html body .footer-mobile .category-info .category-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 15px; }
        html body .footer-mobile .category-info .category-item .text {
          margin-left: 5px; }
          html body .footer-mobile .category-info .category-item .text a {
            color: #000;
            font-size: 15px; }
    html body .footer-sub-mobile {
      margin-top: 20px;
      background-color: #1ebdf1;
      color: #fff;
      padding-top: 10px; }
      html body .footer-sub-mobile .footer-sub-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        html body .footer-sub-mobile .footer-sub-info a {
          margin-right: 5px; }
        html body .footer-sub-mobile .footer-sub-info .fab {
          color: #fff; }
    html body .last-news-block {
      margin-top: 70px; }
    html body .tif-block {
      margin-top: 95px; }
      html body .tif-block .tif {
        width: 50px;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #004d6d;
        margin-bottom: 20px; }
        html body .tif-block .tif .fab {
          color: #fff; }
      html body .tif-block .telegram-block {
        background-color: #1ebdf1; }
      html body .tif-block .instagram-block {
        background-color: #cc1e3b; }
    html body .news-block-hat h1 {
      font-size: 28px;
      padding-bottom: 25px; }
    html body .news-data-time-line {
      width: 100%;
      border: 0 solid #1ebdf1;
      height: 1px; }
    html body .news-data-time {
      margin-top: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      html body .news-data-time span {
        font-size: 12px; }
      html body .news-data-time a {
        color: #000000;
        font-size: 12px; }
      html body .news-data-time .news-site {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        html body .news-data-time .news-site img {
          margin-right: 5px; }
    html body .news-block-info-text {
      margin-top: 35px; }
      html body .news-block-info-text p,
      html body .news-block-info-text var {
        font-size: 18px; }
    html body .my-site-btn {
      margin-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      html body .my-site-btn button {
        width: 60%;
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #fff;
        background-color: #1ebdf1;
        font-size: 20px; }
        html body .my-site-btn button .fab {
          color: #fff;
          margin-right: 5px; }
    html body .hat-text-block-right {
      margin-bottom: 40px; }
      html body .hat-text-block-right h2 {
        font-size: 23px;
        text-transform: uppercase; }
      html body .hat-text-block-right hr {
        border: 0 solid #1ebdf1;
        height: 1px; }

@media screen and (min-width: 993px) {
  body .mobile-header {
    display: none; }
  body .photos .photos-slider {
    display: block;
    position: relative;
    height: 320px; }
    body .photos .photos-slider img {
      height: 320px; }
    body .photos .photos-slider a {
      position: absolute;
      top: calc(100%/1.5);
      left: calc(100%/6);
      z-index: 1;
      color: #fff;
      font-size: 19px;
      max-width: 325px; }
      body .photos .photos-slider a:hover {
        color: #1ebdf1; }
  body .photos .img {
    height: 320px;
    position: absolute;
    top: 0;
    left: 0; }
  body .photos button {
    position: absolute;
    z-index: 1;
    top: calc(100%/2.5);
    background-color: #1ebdf1;
    color: #fff;
    width: 35px;
    height: 38px;
    border: none;
    outline: none; }
    body .photos button:active {
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }
  body .photos .next {
    right: 0; }
  body .photos .photos-sub img {
    max-width: 13.7rem; }
    body .photos .photos-sub img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  body .photos a {
    color: #fff; }
    body .photos a:hover {
      color: #1ebdf1; }
  body .photos .photo-right-middle {
    background-image: url(../images/Вертикальный.png);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    body .photos .photo-right-middle a {
      padding-bottom: 8rem;
      font-style: 1em;
      font-weight: 500;
      color: #fff; }
      body .photos .photo-right-middle a:hover {
        color: #1ebdf1; }
  body .photos .photo-right-sup {
    background-image: url(../images/сверху.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    padding-bottom: 130px; }
  body .photos .photo-right-sub {
    background-image: url(../images/снизу.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 10px;
    padding-top: 130px; }
    body .photos .photo-right-sub a {
      color: #fff; }
      body .photos .photo-right-sub a:hover {
        color: #1ebdf1; }
  body .photos .photo-sub-mobile {
    margin-top: 2px; }
    body .photos .photo-sub-mobile img {
      width: 98%; }
  body .mobile-header {
    display: none; }
  body .photo-sub-mobile {
    display: none; }
  body .mobile-last-news {
    display: none; }
  body .slider-mobile-hat {
    display: none; }
  body .slider-mobile-hat-video,
  body .slider-mobile-video {
    display: none; }
  body .top-news {
    display: none; }

  .footer-mobile {
    display: none; }

  .footer-sub-mobile {
    display: none; } }
@media screen and (max-width: 992px) {
  body .photos .photos-slider {
    display: block;
    position: relative;
    height: 250px; }
    body .photos .photos-slider img {
      height: 250px; }
    body .photos .photos-slider a {
      position: absolute;
      top: calc(100%/2.2);
      left: calc(100%/7);
      z-index: 1;
      color: #fff;
      font-size: 15px;
      width: 75%; }
      body .photos .photos-slider a:hover {
        color: #1ebdf1; }
  body .photos .img {
    height: 320px;
    position: absolute;
    top: 0;
    left: 0; }
  body .photos button {
    position: absolute;
    z-index: 1;
    top: calc(100%/2.5);
    background-color: #1ebdf1;
    color: #fff;
    width: 35px;
    height: 38px;
    border: none;
    outline: none; }
    body .photos button:active {
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }
  body .photos .next {
    right: 0; }
  body .photos .photos-sub img {
    max-width: 13.7rem; }
    body .photos .photos-sub img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  body .photos a {
    color: #fff; }
    body .photos a:hover {
      color: #1ebdf1; }
  body .photos .photo-right-middle {
    background-image: url(../images/Вертикальный.png);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    body .photos .photo-right-middle a {
      padding-bottom: 8rem;
      font-style: 1em;
      font-weight: 500;
      color: #fff; }
      body .photos .photo-right-middle a:hover {
        color: #1ebdf1; }
  body .photos .photo-right-sup {
    background-image: url(../images/сверху.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    padding-bottom: 130px; }
  body .photos .photo-right-sub {
    background-image: url(../images/снизу.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 10px;
    padding-top: 130px; }
    body .photos .photo-right-sub a {
      color: #fff; }
      body .photos .photo-right-sub a:hover {
        color: #1ebdf1; }
  body .photos .photo-sub-mobile {
    margin-top: 2px; }
    body .photos .photo-sub-mobile img {
      width: 98%; }
  body .hat-site-desktop {
    display: none; }
  body header {
    display: none; }
  body .photo-slider-text {
    font-size: 10px; }
  body .news .box-news {
    display: block;
    overflow: hidden; }
    body .news .box-news a {
      white-space: nowrap;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden; }
    body .news .box-news .btn-text {
      display: none; }
  body .mobile-none {
    display: none; }
  body .photo-right-middle {
    display: none; }
  body .photos-slider img {
    height: 250px; }
  body .photo-sub-mobile-none {
    display: block; }
  body .last-news {
    display: none; }
  body .hat-slider,
  body .slider-video {
    display: none; }
  body .top-news-img {
    height: 450px;
    position: relative; }
    body .top-news-img .top-news-img-text {
      position: absolute;
      bottom: 40px;
      left: 25px; }
  body .footer-desktop {
    display: none; }
  body footer {
    display: none; }
  body .tif-block {
    display: none; } }
@media screen and (max-width: 768px) {
  body .top-news-img {
    height: 340px;
    position: relative; }
    body .top-news-img .top-news-img-text {
      position: absolute;
      bottom: 20px;
      left: 15px; } }
@media screen and (max-width: 576px) {
  body .top-news-img {
    height: 340px;
    position: relative; }
    body .top-news-img .top-news-img-text {
      position: absolute;
      bottom: 20px;
      left: 15px; } }
